:root{
    --mac-primary: #7A003C;
    --mac-secondary: #FDBF57;
    --mac-grey: #5E6A71;
  }
  html{
    overflow: hidden;
  }
  /* Navbar */
  .navLogo{
    height: 30px;
  }
  .navbar-brand{
    padding: 0 2vw 0;
    border-right: var(--mac-secondary) solid 1px;
  }
  .logoHolder:hover{
    filter: saturate(150%);
  }
  a{
    text-decoration: none !important;
  }
  
   video{
    width: 100vw;
    position: absolute; 
    opacity: 0.75;
  }
  
   .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
  }
  iframe{
    height: 85vh;
    margin-top:2vh;
    width: 100%;;
  }
  /* About */
  
   /* Exec */
  .Exec{
      margin-top: 8vh;
  }
  .card{
    width: 18rem;
    margin: auto;
  }
  .exec-container{
    margin-top: 4vh;
  }
  /* Events */
  .Events{
    margin-top: 8vh;
  }
  
   /* Resources */
  .Resources{
    margin-top: 8vh;
  }
  .res-title{
    margin-bottom: 2vh;
  }
  .
  /* Sponsors */
  .Sponsors{
    margin-top: 8vh;
  }
  
   /* Media Queries */
  @media (min-width: 992px) {
    .mobile-only{
      display: none;
    }
  }
  
   @media (max-width: 991px) {
    .desktop-only{
      display: none;
    }
    html{
      overflow: visible;
    }
  }